In [297]:
import pandas as pd
import numpy as np

In [298]:
train = pd.read_csv('watertrain.csv')
train.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [299]:
print(train.shape)

(59400, 40)

In [300]:
target = pd.read_csv('watertarget.csv')
target.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [301]:
print(target.shape)

(59400, 2)

In [302]:
df = pd.merge(train, target)
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [308]:
df['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [311]:
df['district_code'].value_counts()

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [312]:
df['lga'].value_counts()

Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64

In [313]:
df['ward'].value_counts()

Igosi        307
Imalinyi     252
Siha Kati    232
Mdandu       231
Nduruma      217
            ...
Ukata          1
Nyamtinga      1
Burungura      1
Kinungu        1
Ikweha         1
Name: ward, Length: 2092, dtype: int64

# Unnessary Columns for preditive model

In [323]:
pred_uncol = ['date_recorded','funder','installer','longitude','latitude','wpt_name','num_private','subvillage',
             'public_meeting','recorded_by','scheme_name',
             'extraction_type','management','payment','water_quality','source_type',
             'waterpoint_type_group','permit']

In [324]:
pred_df = df.drop(pred_uncol,axis=1)
pred_df.head()

,id,amount_tsh,gps_height,basin,region,region_code,district_code,lga,ward,population,...,extraction_type_class,management_group,payment_type,quality_group,quantity,quantity_group,source,source_class,waterpoint_type,status_group
0,69572,6000.0,1390,Lake Nyasa,Iringa,11,5,Ludewa,Mundindi,109,...,gravity,user-group,annually,good,enough,enough,spring,groundwater,communal standpipe,functional
1,8776,0.0,1399,Lake Victoria,Mara,20,2,Serengeti,Natta,280,...,gravity,user-group,never pay,good,insufficient,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,34310,25.0,686,Pangani,Manyara,21,4,Simanjiro,Ngorika,250,...,gravity,user-group,per bucket,good,enough,enough,dam,surface,communal standpipe multiple,functional
3,67743,0.0,263,Ruvuma / Southern Coast,Mtwara,90,63,Nanyumbu,Nanyumbu,58,...,submersible,user-group,never pay,good,dry,dry,machine dbh,groundwater,communal standpipe multiple,non functional
4,19728,0.0,0,Lake Victoria,Kagera,18,1,Karagwe,Nyakasimbi,0,...,gravity,other,never pay,good,seasonal,seasonal,rainwater harvesting,surface,communal standpipe,functional

In [325]:
pred_df.isna().sum()

id                          0
amount_tsh                  0
gps_height                  0
basin                       0
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
scheme_management        3877
construction_year           0
extraction_type_group       0
extraction_type_class       0
management_group            0
payment_type                0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_class                0
waterpoint_type             0
status_group                0
dtype: int64

In [326]:
pred_df[pred_df.isna().any(axis=1)]

,id,amount_tsh,gps_height,basin,region,region_code,district_code,lga,ward,population,...,extraction_type_class,management_group,payment_type,quality_group,quantity,quantity_group,source,source_class,waterpoint_type,status_group
4,19728,0.0,0,Lake Victoria,Kagera,18,1,Karagwe,Nyakasimbi,0,...,gravity,other,never pay,good,seasonal,seasonal,rainwater harvesting,surface,communal standpipe,functional
7,54551,0.0,0,Lake Tanganyika,Shinyanga,17,3,Kahama,Chambo,0,...,handpump,user-group,unknown,milky,enough,enough,shallow well,groundwater,hand pump,non functional
9,46144,0.0,0,Lake Victoria,Kagera,18,1,Karagwe,Kaisho,0,...,handpump,user-group,never pay,good,enough,enough,shallow well,groundwater,hand pump,functional
18,34169,0.0,1162,Lake Victoria,Mwanza,19,1,Ukerewe,Ilangala,1000,...,other,user-group,never pay,milky,insufficient,insufficient,spring,groundwater,other,functional needs repair
27,20145,0.0,0,Lake Victoria,Kagera,18,1,Karagwe,Nyaishozi,0,...,handpump,user-group,never pay,good,enough,enough,shallow well,groundwater,hand pump,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59329,27957,0.0,0,Lake Victoria,Shinyanga,17,3,Kahama,Malunga,0,...,other,user-group,unknown,milky,insufficient,insufficient,shallow well,groundwater,other,non functional
59344,6450,0.0,1303,Internal,Arusha,2,7,Meru,Ngarenanyuki,230,...,gravity,unknown,unknown,unknown,unknown,unknown,spring,groundwater,communal standpipe,functional
59362,18917,0.0,2190,Lake Nyasa,Iringa,11,4,Njombe,Luponde,60,...,rope pump,commercial,never pay,good,insufficient,insufficient,shallow well,groundwater,hand pump,functional
59370,14796,200.0,1154,Lake Tanganyika,Kigoma,16,2,Kasulu,Rusesa,1,...,other,unknown,monthly,unknown,unknown,unknown,unknown,unknown,other,functional
59383,44616,0.0,11,Ruvuma / Southern Coast,Lindi,80,62,Lindi Urban,Jamhuri,800,...,handpump,user-group,unknown,good,enough,enough,rainwater harvesting,surface,hand pump,functional

In [327]:
pred_df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [328]:
pred_df["scheme_management"].fillna("VWC", inplace = True)

In [329]:
pred_df.isna().sum()

id                       0
amount_tsh               0
gps_height               0
basin                    0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
scheme_management        0
construction_year        0
extraction_type_group    0
extraction_type_class    0
management_group         0
payment_type             0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_class             0
waterpoint_type          0
status_group             0
dtype: int64